<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Erro no Upload</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/upload.css">
  </head>
  <body>
    <header>
      <a href="/dashboard" class="back-button">&larr; Voltar ao Dashboard</a>
    </header>
    <h1>Erro no Upload</h1>
    <p class="upload-message"><%= message %></p>
    <a href="/dashboard"><button>Voltar</button></a>
  </body>
</html>
